
<label>Serve Name</label>
<!-- <input type="text" class="form-control" (input) = "onUpdateServer($event)" />  -->

<input type="text" class="form-control" #serverNameInput/>

<!-- <p> {{ serverName }} </p> -->
<br>
<button class="btn btn-primary"
    [disabled] = "!allowNewServer" 
    (click) = "onCreateServer(serverNameInput)" >Add New Server</button>
<p>AllowServer: {{ allowNewServer }}</p>
<p *ngIf="allowNewServer; else noServer">ServerStatus: {{ serverCreationStatus }}</p>
<ng-template #noServer>No Server Present</ng-template>

<app-server *ngFor="let server of servers" [serverName]="server"></app-server>
